* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --height-nav: 70px;
  --max-width: 1200px;
  --color-primary: #ffe001;
  --color-white: #f2f2f2;
  --border-radius: 12px;
}

@font-face {
  font-family: gabelisa;
  src: url(fuentes/gabelisa.otf);
}
@font-face {
  font-family: frederick;
  src: url(fuentes/FrederickatheGreat-Regular.ttf);
}

header {
  background: var(--color-black);
  box-shadow: 0 1px 1px var(--color-black);
  height: var(--height-nav);
}

.logo {
  height: 50px;
  width: auto;
  justify-content: center;
  margin-top: 10px;
  margin-left: 30px;
}

a {
  color: inherit; /* Hereda el color del texto de su contenedor */
  text-decoration: none; /* Elimina el subrayado */
}
.contenedor {
  max-width: 18000px;
  margin: 0 auto;
  position: relative;
}

.header__menu {
  height: var(--height-nav);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  position: relative;
}

.nav__item {
  display: flex;
  margin-right: 0px;
  font-size: 35px;
  margin-top: 30px;
  margin-right: 120px;
}

.num {
  position: absolute;
  margin-top: 30px;
  font-size: 46px;
  font-weight: bold;
}
.txt {
  font-size: 24px;
}

.imagen1 {
  position: absolute;
  width: auto;
  height: 80px;
  margin-left: 280px;
  margin-top: -34px;
}

.nav__item_2 {
  display: flex;
  list-style-type: none;
  gap: 60px;
  margin-top: 70px;
  position: absolute;
  font-size: 20px;
  margin-left: -200px;
  font-weight: 900;
}

.imagen_total {
  background-image: url(imagenes/3759618.png);
  background-repeat: no-repeat;
  background-size: cover; /* Para cubrir toda la pantalla */
  max-width: 9000px;
  align-items: center;
  width: 100%;
}

#inicio {
  display: grid;
  justify-content: top;
  margin-top: 200px;
  height: 80vh;
  max-width: 9000px;
}

.txt_nav1 {
  font-family: "gabelisa";
  font-size: 50px;
  margin-right: 850px;
  margin-top: 10px;
 flex-direction: column;  
}
.txt_nav2 {
  font-size: 70px;
  margin-left: -50px;
  margin-top: -20px;
  font-family: "frederick";
}
.txt_nav3 {
  margin-top: -50px;
  margin-left: -30px;
  font-size: 25px;
  font-weight: 900;
}
.borde {
  border-bottom: 2px solid black;
}

.txt_nav4 {
  font-family: "frederick";
  margin-left: -30px;
  font-size: 20px;
  margin-top: -60px;
}
.txt_nav5 {
  font-family: "frederick";
  margin-left: 150px;
  font-size: 50px;
  margin-top: -56px;
}
.contenedor_nav {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  max-width:1187px;

}

.botons {
  margin-left: 30px;
  margin-top: -50px;
}
.nav__boton {
  border: 2px solid black; /* Borde sólido de 2px de ancho y color negro */
  background-color: transparent; /* Establece el fondo transparente */
  padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
  color: black; /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* cards */

.contenedor_card {
  display: flex;
  gap: 15rem;
  padding-top: 700px;
  padding-bottom: 90px;
  justify-content: center;
}
.card {
  display: flex;
  width: 300px;

  padding: 22px;
  flex-direction: column;
  gap: 2rem;

  border-radius: 50px;
}

.card__title {
  font-size: 25px;
  padding: 4px 0;
  color: var(--color-black);
  font-weight: 900;
  text-align: center; /* Centra el texto horizontalmente */
}

.card__text {
  color: black;
  text-align: center; /* Centra el texto horizontalmente */
}

.segunda_imagen {
  background-image: url(imagenes/segunda.png);
  background-repeat: no-repeat;
  background-size: cover; /* Para cubrir toda la pantalla */
  max-width: 9000px;
  align-items: center;
  width: 100%;
}
.uno_card {
  margin-top: 80px;
  position: absolute;
  margin-left: 650px;
}
.dos_card {
  display: flex;
  margin-top: 150px;
  position: absolute;
  margin-left: 100px;
}
.card_item_1 {
  position: relative;
  font-family: "frederick";
  font-size: 30px;
}

.dos_txt_card {
  text-align: center;
  font-size: 17.5px;
}
.card_boton {
  border: none; /* Borde sólido de 2px de ancho y color negro */
  background-color: transparent; /* Establece el fondo transparente */
  color: black; /* Color del texto */
  font-size: 15px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-weight: 900;
}

/* tercera section */

.contenedor_3 {
  grid-template-rows: 1fr 1fr;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tercea_item2 {
  display: flex;
  width: 100%; /* Ancho del contenedor */
  height: 50px; /* Altura del contenedor */
  margin-top: 550px;
  justify-content: center; /* Centra los puntos horizontalmente */
  align-items: center; /* Centra los puntos verticalmente */
}

.punto {
  width: 20px; /* Ancho de los puntos */
  height: 20px; /* Altura de los puntos */
  
  border-radius: 50%; /* Forma redonda */
  margin: 0 5px; /* Margen horizontal entre los puntos */
}

.punto-amarillo {
  background-color: rgb(225, 255, 0); /* Color amarillo para el punto en la mitad */

}
.punto-gris {
  background-color: rgb(170, 170, 170); /* Color amarillo para el punto en la mitad */

}

.tercera_item1 {
  display: grid;
  justify-content: center; /* Centra los puntos horizontalmente */
  align-items: center; /* Centra los puntos verticalmente */


}
.imagen_3 {
  background-image: url(imagenes/este.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  margin-top: 400px;
}

.hola{
  margin-top: -400px; 
  justify-content: center;
}
.hola2{
  margin-top: 0px; 
}
.txt_tercera{
  margin-top: -230px;

}
.titulo{
  margin-top: -300px;
}

/* cuarta seccion */

.container_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


}

.form {
  display: flex;
  width: 600px;
  margin-top: 600px;
}

.column {
  flex: 1;
  padding: 10px;

}

.box {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  height: 20px;
}

.box label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
}

.box:hover label {
  opacity: 1;
}

.imagen_4 {
  background-image: url(imagenes/galeria.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
  margin-top: -100px;
}